<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IV</title>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:300,400" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>

<style>
body {
  background-color: #fafafa;
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
}
.login > h1 {
  position: relative;
  left: 1vw;
  top: 4vh;
  font-weight: 300;
  width: 4vw;
}
.login {
  position: relative;
  width: 100vw;
  display: inline-block;
  bottom: 5vh;
  -webkit-box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.75);
}
.register > h2 {
border-bottom: 1px solid black;
width: 6vw;
text-align: center;
}
.login > form {
position: relative;
left: 57vw;
bottom: 3vh;
display: inline-block;
}
 .login > form > input.logForm {
   position: relative;
  height: 2vh;
  font-size: 2vh;
  width: 10vw;
  float: left;
}
.login > form > p {
  position: relative;
  float: left;
  bottom: 1vh;
}
.register > form > .regForm {
  width: 15vw;
  height: 3vh;
  font-size: 2vh;
}
.register {
  position: relative;
  left: 77vw;
  display: inline-block;
  top: 4vh;
}

h3 {
  text-align: center;
  left: 12vw;
  position: absolute;
  bottom: 5vh;
  width: 50vw;
  font-size: 3vh;
  background: -webkit-linear-gradient(#2A628F, #F00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  margin: 1vh;
}
h4 {
  text-align: center;
  left: 12vw;
  position: absolute;
  bottom:3vh;
  width: 50vw;
  font-size: 2vh;
  background: -webkit-linear-gradient(#000, #0FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.image-container > img {
  position: relative;
  bottom: 50vh;
  height: 60vh;
  left: 5vw;
}
</style>




<nav class="stroke">
	<div class="logoNav">
		<p><a href="/">Forever Amour Bridal Boutique</a><p>
	</div>
<ul class="float">
	  	<li><a href="/" class="currentPage btn btn-4">Home</a></li>
	   	<li><a href="/about" class="currentPage btn btn-4">About</a></li>
      <li><a href="/collection" class="currentPage btn btn-4">Our Collection</a></li>
      <li><a href="/custom" class="currentPage btn btn-4">Custom Made</a></li>
      <li><a href="/contact" class="currentPage btn btn-4">Contact</a></li>
	   	<li><a href="" class="currentPage btn btn-4">Start Here</a></li>
</ul>

	<div class="stro">
  		<a href="/appointment" class="">Make An Appointment</a>
	</div>
<!-- <div class="clear"></div> -->

</nav>

<div class='login'>
<form class="" action="/authentication" method="post">
    <p>Username:</p> <input class='logForm' type="text" name="user[username]" value="">
    <p>Password:</p> <input class='logForm' type="password" name="user[password]" value="">
    <input type="submit" name="name" value="Log in">
</form>
</div>


    <div class="register">
      <h2>Sign up</h2>
      <form class="regForm" action="/users" method="post">
        <p>First Name:</p>
        <input class= 'regForm' type="text" name="user[firstname]" value="">
        <p>Last Name:</p>
        <input class= 'regForm' type="text" name="user[lastname]" value="">
        <p>Your Email:</p>
        <input class= 'regForm' type="text" name="user[email]" value="">
        <p>Username:</p>
           <input class= 'regForm' type="text" name="user[username]" value="">
           <p>New Password:</p>
           <input class= 'regForm' type="password" name="user[password]" value="">
           <input type="submit" value="Sign Up">
       </form>
</div>

<div class="image-container">
  <img src="Images/IMG_0603.png" alt="">
</div>

<script type="text/javascript">
$(document).ready((data) => {
  $.ajax({
    url: 'http://api.forismatic.com/api/1.0/?method=getQuote&key=457653&format=jsonp&lang=en&jsonp=?',
    method: 'GET',
    dataType: 'JSON',
    success: (data) => {
      console.log(data);
      let $div = $('<div>');
      let $h4One = $('<h4>');
      let $h3One= $('<h3>');
        let quote = data.quoteText;
        let author = data.quoteAuthor;
        $h3One.text(quote)
        $h4One.text(author)
        $div.append($h3One);
        $div.append($h4One);
        $('body').append($div);
    }
  })
})
</script>



  </body>
</html>
